@CHARSET "UTF-8";

.pair {
	background: #dddddd;
}

.impair {
	background: #666666;
}

table {
	border-spacing:0px;

}

td {
	border-width: 1px;
	border-style: solid;
	border-color: #dddddd;
	margin:0;
	padding:5px;
}

.red {
	color: #FF0000;
}

.logo {
  background: url("resources/img/imie.png") no-repeat scroll 0 0 transparent;
  width: 100px;
  height: 100px;
  background-color: #ededed;
  border-radius: 100px;
}