<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TP ETIENNE DAVID CDI13 - EXO 2</title>
</head>
<body>
	<header>
		<h1>TP ETIENNE DAVID CDI13 - EXO 2 : COUCOU</h1>
	</header>
	<nav>
		<ul>
			<li><a href="/">Retour</a></li>
		</ul>
	</nav>
	<main>
		<section>			
			<p>Coucou <%= name %></p>
			</p>			
		</section>
	</main>
</body>
</html>